body {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.heading-white {
    color: white;
    font-size: 4vw;
    line-height: 4vw;
    text-shadow: 2px 2px 3px black;
    margin-bottom: 1em;
}

/* About us */
.about {
    background-color: white;
    align-items: center;
}
.about img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
    height: auto;
    box-shadow: .5em .5em 2em rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: flex;
}
.text-section {
    margin-top: 5vw;
    margin-bottom: 5vw;
    color: black;   
    text-align: left; 
}
.text-section .text {
    font-size: medium;
    line-height: 2em;
}
.text-section .heading-lg {
    font-size: 40px;
    margin-bottom: 10px;
}
.text-section .heading-sm {
    font-size: 15px;
    color: rgb(60, 121, 190);
    font-weight: 700;
}
@media screen and (max-width: 800px) { 
	.text-section .heading-sm  {
		font-size: 15px;
    }
    .text-section .heading-lg {
        font-size: 35px;
    }
}

/* CounterUp */
.counter {
    padding: 40px 0;
    background: rgba(0, 0, 0, 0.205);  
}
.counter .col-sm-4 {
	flex: 1;
	text-align: center;
	padding: 1vw;
    color: rgb(92, 138, 192);
    text-shadow: 2px 2px 3px rgba(56, 56, 56, 0.5);
	text-transform: uppercase;
	font-size: 1.5vw;
}
.counter i {
	font-size: 3vw;	
    display: contents;
}
.counter .num, .counter .num-add {
	font-size: 3.5vw;
    margin: 2vw 0;
}
@media screen and (max-width: 600px) { 
	.counter .num, .counter .num-add {
		font-size: 20px;
	}
	.counter i {
		font-size: 15px;	
	}
	.counter .col-sm-4 {
		font-size: 10px;
	}
}

/* Meet the Team */
.team {
    background-image: url(../images/bg-fixed.jpg);
    background-attachment: fixed;
    padding: 100px 0;
}
.trainer {
    text-align: center;
    position: relative; 
}
.trainer img {
    height: 25vw;
    width: 20vw;    
    object-fit: cover;
    border-radius: 5px;
    margin: 20px 0;
    display: flex;
}
.trainer .overlay {
    height: 60px;
    width: 20vw;    
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: rgb(92, 138, 192);
    color: white;
    position: absolute;
    top: 70%;
    left: 0;
    opacity: 0.5;
    transition: .5s ease;
}
.trainer:hover .overlay {
    opacity: 1;
}
.trainer .name {
    font-size: 1.5vw;
    line-height: 1.2vw;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.trainer .job {
    font-size: 1vw;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
@media screen and (max-width: 800px) { 
	.trainer img {
		height: 250px;
        width: 150px;  
    }
    .trainer .overlay {
        height: 50px;
        width: 150px; 
    }
    .trainer .name {
        font-size: 11px;
    }
    .trainer .job {
        font-size: 10px;
    }
}

/* Testimonials */
.testimonial .image-slider {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}
.testimonial img {
    max-width: 100%;
	height: 150px;
	width: 150px;
    border-radius: 50%;
    margin: 0px 30px;
}
.testimonial blockquote {
	color: white;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	margin: 0;
    padding: 20px 30px;
    text-align: justify;
}
.fa-quote-left {
    font-size: 30px;
    color: rgb(92, 138, 192);
    margin-bottom: 20px;
}
.testimonial .peopl {
	padding: 0px;
    margin: 10px;
	-webkit-transform: translateY(50%);
    transform: translateY(50%);
}
.testimonial .peopl h3 {
    font-size: 20px;
    color: rgb(92, 138, 192);
}
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}
.slick-slide img {
	display: inline;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-prev, .slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 40%;
	display: block;
	width: 20px;
	height: 20px;
	padding: 0;
	transform: translate(0, -50%);
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
}
.slick-slide:hover, .slick-slide:focus {
    outline: none;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    outline: none;    
}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
	opacity: 1;
}
.slick-prev:before, .slick-next:before {
	font-size: 40px;
	line-height: 1;
	opacity: .5;
}
.slick-prev {
	left: -40px;
}
.slick-prev:before {
    content: "<";
    color:white
}
.slick-next {
	right: -40px;
}
.slick-next:before {
    content: '>';
    color:white
}
