body {
    background-image: url(../images/bg-about.jpg);
    background-repeat: no-repeat; 
}
.main1 {
    overflow: auto;
    padding-bottom: 100px;
}
.card {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s ease;
}
.card:hover {
    transform: scale(1.05);
}
.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 250px;
}
.card-body {
    margin: 0 auto;
}
.card a {
    font-weight: bold;
    font-size: 40px;
    margin: 0 auto;
    color: black;
}
