
.card {
    border-radius: 0%;
    border: .5px solid rgb(219, 219, 219);
    width: 80% !important; 
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s ease;
    object-fit: cover;
    height: max-content;
}
.card:hover {
    box-shadow: .5em .5em 1em rgba(0, 0, 0, 0.5);
}
.card-img, .card-img-top {
    height: 250px;
    border-radius: 0%;
}
.card-body {
    margin: 0 auto;
    color: rgb(71, 71, 71);
}
.card-body .card-heading {
    font-size: 20px;
    margin-bottom: 3%;
    border-bottom: 1.5px solid rgb(132, 164, 201);
    width: max-content;
    padding-bottom: .5em;
}
.card-body .card-text {
    font-size: 15px;
    margin: 4% 0;
} 
.btn-outline-info {
    margin: 3% auto;
    color: rgb(132, 164, 201);
    border:.5px solid rgb(132, 164, 201);
}
.btn-outline-info:hover {
    background-color: rgb(132, 164, 201);
    border:.5px solid rgb(132, 164, 201);
}
.card-body .fas {
    color: rgb(132, 164, 201);
}