.flex-column li{
    margin: 10px;
    background-color:darkgrey;
    border-radius: 20px;
    font-size: 40px;
    transition: all 1s ease;
}
.flex-column li:hover{
    transform: scale(1.1);
    background-color: rgb(60, 121, 190);
}
.flex-column a.nav-link {
    margin: 0 auto;
    color: white;
    border-radius: 20px;
    font-weight: bold;
}
.flex-column a.nav-link.active {
    background-color: rgb(60, 121, 190);
}
.question {
    color: white;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 15px;
}
.btn {
    color: #fff;
    background-color: darkgrey;
    margin: auto;
    border-color: darkgrey;
}
.btn:hover {
    background-color: rgb(60, 121, 190);
    border-color: rgb(60, 121, 190);
}
.btn {
    background-color: darkgrey;
    border-color: darkgrey;
}

.dropdown-menu1 {
    display: block;
}

p {
    margin-top: 40px;
    font-size: 40px;
    color: white;
    border-style: dotted;
    border-radius: 15px;
    border-width: 4px;
    border-color: rgb(60, 121, 190);
}

.linkWrapper {
    width: 80%;
    background-color: white;
    border-radius: 15px;
    border-color: black;
    margin-bottom: 5px;
}

.dropdown-item:hover {
    border-radius: 15px;
}

.dropdown-item.active {
    border-radius: 15px;
    background-color: rgb(60, 121, 190);
}

.dropdown-item:focus {
    border-radius: 15px;
    background-color: rgb(60, 121, 190);
}

.dropdown-menu {
    border-radius: 15px;
}

.dropdown-menu:hover {
    border-radius: 15px;
}




