.flex-column li{
    margin: 10px;
    background-color:darkgrey;
    border-radius: 20px;
    font-size: 40px;
}

.flex-column li:hover{
    transform: scale(1.1);
    background-color: #00BFFF;
}

.flex-column a.nav-link {
    margin: 0 auto;
    color: white;
    border-radius: 20px;
    font-weight: bold;
}

.flex-column a.nav-link.active {
    background-color: #00BFFF;
}

.question {
    color: white;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 15px;
}

.btn-success {
    color: #fff;
    background-color: darkgrey;
    margin: auto;
    border-color: darkgrey;
}

.btn-success:hover {
    background-color: #00BFFF;
    border-color: #00BFFF;
}

.btn-success {
    background-color: darkgrey;
    border-color: darkgrey;
}


