
* {
    margin: 0;
    padding: 0;
}
html, body {
    position: relative;
    height: 100%;
    width: 100%;
    font-family: montserrat, sans-serif;
}
.wrapper {
    min-height: 100%;
}
.main {
    overflow: auto;
    padding-bottom: 120px;
}
.row {
    margin: 0;
}
.container-fluid {
    padding: 0;
}
.col-sm-12 {
    padding: 0;
}

/* Headings */
.heading {
    text-align: center;
}

/* navbar */
.navbar {
    padding: 0 10px;
    position: relative;
}
.navbar-nav li {
    padding-right: 20px;
}
.nav-link {
    font-size: 1em !important;
}  
.languages img {
    width: 20px;
    margin: 0px 2px;
    opacity: 0.3;
    transition: .5s ease;
  }
.languages img:hover {
    opacity: 1;
    width:25px;
 }
  
/* Footer */
footer {
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
    width: 100%;
    text-align: center;
}
.copyright {
    color: white;
    font-size: .6em;
    margin-top: 6em;
    opacity: .7;
}
@media screen and (max-width: 400px) {  
    .copyright {
        margin-top: 2em;
    }
}

/* Background section */
.cropped {
    text-align: center;
    margin-top: 10vw;
    margin-bottom: 5vw;
}
.cropped .heading {
    color: white;
    font-size: 6vw;
    line-height: 4vw;
    text-shadow: 2px 2px 3px black;
}
.heading-sm {
    font-size: 2vw;
}
@media screen and (max-width: 400px) {  
    .heading {
        font-size: 20px;
        line-height: 20px;
    }
    .heading-sm {
        font-size: 10px;
    }
}

/* Top rated workouts */
.top-workouts {
    color: white;
    text-align: left;
    line-height: 1.5em;
}
.top-workouts i {
    font-size: 50px;
    margin-bottom: .5em;
}
.top-workouts .gray-box {
    background-color: rgb(31, 31, 31);
    padding: 3em;
}
.top-workouts .blue-box {
    background-color: rgb(0, 92, 197);
    padding: 3em;
}
.top-workouts .lightblue-box {
    background-color: rgb(60, 121, 190);
    padding: 3em;
}
.top-workouts .heading {
    font-size: large;
}
.top-workouts .text {
    font-size: small;
}
.checked {
    margin-top: 2em;
    color: rgb(255, 208, 0);
}

/* About us */
.text-section {
    margin: 5vw 0;
    color: black;
    text-align: center;
}
.text-section .text {
    font-size: medium;
    line-height: 2em;
}
.text-section .heading {
    font-size: 5vw;
    line-height: 3vw;
    margin-bottom: 2vw;
}


/* Dropdown menu */
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu a {
    padding: 12px 10px;
}
.dropdown-menu a:hover {
    background-color: #ddd;
}