* {
    margin: 0;
    padding: 0;
}
html, body {
    position: relative;
    height: 100%;
    width: 100%;
    font-family: montserrat, sans-serif;
}
.wrapper {
    min-height: 100%;
}
.main {
    overflow: auto;
    padding-bottom: 100px;
}
.row {
    margin: 0;
}
.container-fluid {
    padding: 0;
}
.col-sm-12 {
    padding: 0;
}

/* Headings */
.heading {
    text-align: center;
}
.heading-white {
    color: white;
    font-size: 4vw;
    line-height: 4vw;
    text-shadow: 2px 2px 3px black;
    margin-bottom: 1em;
}

/* Banners */
.banners {
    height: 100px;
}
.banner img {
    width: 100%;
    height: 100px;
}
.banner {
    padding: 0px;
}

/* Navbar */
.navbar {
    padding: 0 10px;
    position: relative;
}
.navbar-dark {
    background-color: rgb(27, 27, 27) !important;
}
.navbar-nav li {
    padding-right: 20px;
}
.nav-link {
    font-size: 1em !important;
}  
.languages img {
    width: 20px;
    margin: 0px 2px;
    opacity: 0.3;
    transition: .5s ease;
  }
.languages img:hover {
    opacity: 1;
    width:25px;
 }
  
/* Footer */
footer {
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
    width: 100%;
    text-align: center;
    background-color: rgb(27, 27, 27);
}
.copyright {
    color: white;
    font-size: .6em;
    margin-top: 6em;
    opacity: .7;
}
@media screen and (max-width: 400px) {  
    .copyright {
        margin-top: 2em;
    }
}

/* Background section */
.cropped {
    text-align: center;
    margin-top: 10vw;
    margin-bottom: 5vw;
}
.cropped .heading {
    color: white;
    font-size: 6vw;
    line-height: 4vw;
    text-shadow: 2px 2px 3px black;
}
.heading-sm {
    font-size: 2vw;
}
@media screen and (max-width: 600px) {  
    .cropped .heading {
        font-size: 40px;
    }
    .heading-sm {
        font-size: 20px;
    }
}

/* Dropdown menu */
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu a {
    padding: 12px 10px;
}
.dropdown-menu a:hover {
    background-color: #ddd;
}
.a.dropdown-item{
    color: black;
}

/* Breadcrumbs */
.breadcrumb {
    background-color: rgb(27, 27, 27);
    margin-top: 5px;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}
.breadcrumb-item a {
    color: rgba(255,255,255,.5);
}
.active-breadcrumb a {
    color: white;
}


/* Blue to Black Button */
.button {
    box-shadow: inset 0 0 0 4px rgb(92, 138, 192);
    color: rgb(92, 138, 192);
    -webkit-transition: color 0.25s 0.1s;
    transition: color 0.25s 0.1s;
    position: relative;
    background: none;
    border: none;
    line-height: 1.5;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
    margin: 2em;
}
.button::before, .button::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.button::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}
.button::after {
    border-top-width: 4px;
    border-right-width: 4px;
}
.button:hover {
    color: black;
}
.button:hover::before, .button:hover::after {
    border-color: black;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.button:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
    transition-delay: 0s, 0s, 0.25s;
}
.button:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
    transition-delay: 0s, 0.25s, 0s;
}
.button a {
	color: rgb(92, 138, 192);
}
.button a:hover {
	color: black;
	text-decoration: none;
}

