* {
    margin: 0;
    padding: 0;
}
html, body {
    position: relative;
    height: 100%;
    width: 100%;
    font-family: montserrat, sans-serif;
}
.wrapper {
    min-height: 100%;
}
.main {
    overflow: auto;
    padding-bottom: 120px;
}
.row {
    margin: 0;
}
.container-fluid {
    padding: 0;
}
.col-sm-12 {
    padding: 0;
}

/* Headings */
.heading {
    text-align: center;
}

/* navbar */
.navbar {
    padding: 0 10px;
    position: relative;
}
.navbar-dark {
    background-color: rgb(27, 27, 27) !important;
}
.navbar-nav li {
    padding-right: 20px;
}
.nav-link {
    font-size: 1em !important;
}  
.languages img {
    width: 20px;
    margin: 0px 2px;
    opacity: 0.3;
    transition: .5s ease;
  }
.languages img:hover {
    opacity: 1;
    width:25px;
 }
  
/* Footer */
footer {
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
    width: 100%;
    text-align: center;
    background-color: rgb(27, 27, 27);
}
.copyright {
    color: white;
    font-size: .6em;
    margin-top: 6em;
    opacity: .7;
}
@media screen and (max-width: 400px) {  
    .copyright {
        margin-top: 2em;
    }
}

/* Background section */
.cropped {
    text-align: center;
    margin-top: 10vw;
    margin-bottom: 5vw;
}
.cropped .heading {
    color: white;
    font-size: 6vw;
    line-height: 4vw;
    text-shadow: 2px 2px 3px black;
}
.heading-sm {
    font-size: 2vw;
}
@media screen and (max-width: 400px) {  
    .heading {
        font-size: 20px;
        line-height: 20px;
    }
    .heading-sm {
        font-size: 10px;
    }
}

/* Dropdown menu */
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu a {
    padding: 12px 10px;
}
.dropdown-menu a:hover {
    background-color: #ddd;
}

/* Breadcrumbs */
.breadcrumb {
    background-color: rgb(27, 27, 27);
    border-color: white;
    border-bottom: 3px;
    margin-top: 5px;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: rgba(255,255,255,.5);
}
.breadcrumb-item {
    color: rgba(255,255,255,.5);
}
.breadcrumb-item.active {
    color: white;
}